.container{
  width: 100%;
  height: auto;
  border: 0.5px solid gray;
}

.row{
  display: block;
  width: 90%;
  height: 300px;
  margin: 30px;
}

.col{
  display: inline block;
  width: 45%;
  height: inherit;
  margin: 10px;
  float: left;
}